.about-us {
  padding-top: 57px;
  padding-bottom: 70px;

  @media (max-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.about-us__title {
  width: 100%;
  margin: 0 auto 9px;

  text-align: center;
}

.about-us__subtitle {
  max-width: 520px;
  margin: 0 auto 20px;

  text-align: center;
}

.about-us__content {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.about-us__img {
  width: calc(50% - 15px);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.about-us__list {
  width: calc(50% - 15px);
  padding: 0;
  margin: 0;

  list-style: none;

  counter-reset: features;
  text-align: center;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.about-us__item {
  position: relative;

  padding: 50px 0 18px;

  counter-increment: features;

  color: $black;

  &::before {
    position: absolute;
    top: 0;
    left: calc(50% - 11px);

    width: 22px;
    height: 22px;
    z-index: 1;

    content: counter(features);

    color: $orange;
    border: 1px solid $orange;
    border-radius: 50%;
    background-color: white;

    font-size: 18px;
    line-height: 18px;
  }

  &::after {
    content: "";
    top: -20px;
    left: calc(50% + 0.5px);
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: $orange;
  }

  &:first-child::after {
    top: 0;
    height: 40px;
  }
}
