
.nav {
  flex-grow: 1;
  max-width: 772px;
  margin-right: 25px;

  @media (max-width: $tablet-width) {
    order: 2;
    width: 100%;
    margin: 20px auto 0;
  }

  @media (max-width: $mobile-width) {
    &--close {
      .nav__list {
        height: 0;
        overflow: hidden;
      }

      .nav__toggle {
        &::before {
          top: 4px;
          left: 50%;

          width: 20px;
          height: 2px;

          transform: translateX(-50%);

          box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
        }

        &::after {
          content: none;
        }
      }
    }
  }
}

.nav__list {
  transition: height 0.5s;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.nav__list li {
  display: flex;

  @media (max-width: $mobile-width) {
    border-bottom: 1px solid grey;
    margin: 0 -20px;
    padding: 5px 20px;

    &:first-child {
      border-top: 1px solid grey;
    }
  }
}

.nav__link {
  transition: 0.3s;
  padding: 5px;

  color: $grey;

  font-size: 18px;
  line-height: 29px;

  &:hover,
  &:focus {
    opacity: 0.5;
    text-decoration: underline $orange;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 35px;
  }
}

.nav__toggle {
  display: none;

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 20px;
    right: 30px;

    display: block;

    width: 21px;
    height: 21px;
    padding: 0;

    cursor: pointer;

    border: none;
    background-color: transparent;

    &::before,
    &::after {
      transition: 0.5s;
      position: absolute;
      top: 50%;
      left: 50%;

      width: 28px;
      height: 3px;

      content: "";

      background-color: #000000;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
