.promo {
  padding-top: 65px;
  padding-bottom: 150px;

  background: url("../img/promo-bg@1x.png") no-repeat;
  background-position: right calc(10% - 52px) center;
  background-size: 52.5vw auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-bg@2x.png");
  }

  @media (max-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 20px;

    background-position: right calc(10% - 52px) bottom;
  }

  @media (max-width: $mobile-width) {
    padding-top: 30px;
    padding-bottom: 250px;

    background-position: center bottom;
    background-size: 360px;
  }
}

.promo__title {
  max-width: 670px;
  margin: 0 0 18px;
}

.promo__subtitle {
  max-width: 330px;
  margin-bottom: 40px;

  @media (max-width: $mobile-width) {
    max-width: none;
    margin-bottom: 20px;
  }
}

.promo__form {
  display: flex;

  max-width: 390px;

  input[type="tel"],
  button {
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    max-width: none;
  }

  @media (max-width: 380px) {
    flex-direction: column;

    input[type="tel"],
    button {
      width: 100%;
    }
  }
}
