//breckpoints
$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$width-desktop: 1250px;

//Retina 2x
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$white: #ffffff;
$black: #141419;
$orange: #fb973b;
$grey: #616161;
$light-grey-color: #e1e1e1;
$input-color: #f8f8f8;

//fonts
$calibri: "Calibri", arial, sans-serif;
$sfuidisplay: "SFUIDisplay", arial, sans-serif;
